@import url("https://fonts.googleapis.com/css2?family=K2D:wght@100;200;300&family=Neonderthaw&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient(116.52deg, #f0c997 0%, #c68638 99.56%);
  background-repeat: no-repeat;
}

#header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
  padding-left: 120px;
  padding-right: 100px;
}

#menu {
  margin: 0px;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 55px;
}

#menu a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-weight: 100;
  font-size: 32px;
  color: #523e33;
  text-shadow: 0px 2px 1px rgba(160, 88, 0, 0.4);
  font-family: "K2D";
}

nav ul li a:hover {
  position: relative;
  top: -4px;
  transition: 0.3s;
}

#btn-mobile {
  display: none;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
main .headline-txt {
  padding-left: 90px;
}
main .headline-txt h1 {
  font-family: "Neonderthaw";
  font-style: normal;
  font-weight: 400;
  font-size: 130px;
  line-height: 145px;
  color: #523e33;
  text-shadow: 0px 4px 2px rgba(124, 69, 2, 0.5);
  margin-bottom: 20px;
}

main .headline-txt h3 {
  font-family: "K2D";
  font-style: normal;
  font-weight: 275;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 20px;
  width: 505px;
  color: #523e33;

  text-shadow: 0px 2px 1px rgba(160, 88, 0, 0.4);
}

#btn-headline {
  font-family: "K2D";
  text-decoration: none;
  font-weight: 275;
  font-size: 35px;
  line-height: 46px;
  color: #523e33;
  text-shadow: 0px 2px 1px rgba(160, 88, 0, 0.4);
  padding: 10px 15px;
  border: 2px solid #523e33;
  border-radius: 20px;
  display: inline-block;
  transition: 0.3s;
}
#btn-headline:hover {
  color: #f7f7f7;
  border: 2px solid #f7f7f7;
}
main .headline-txt .midias {
  margin-top: 28px;
  width: 412px;
  display: flex;
  justify-content: center;
  gap: 25px;
  position: relative;
}
main .headline-txt .midias img {
  display: inline-block;
}
main .headline-txt .midias a {
  border: none;
  padding: 0px;
}
main .headline-txt .midias a:hover {
  position: relative;
  top: -4px;
}

#headline-img {
  justify-self: end;
  margin-bottom: 87px;
}

.midias-2 {
  display: none;
}

#amoeba {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 300px;
}

#circles {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 250px;
}

@media (max-width: 600px) {
  body {
    background: linear-gradient(116.52deg, #f0c997 0%, #be8e4f 99.56%);
    background-repeat: no-repeat;
  }
  #header {
    padding-left: 0px;
    padding-right: 0px;
  }

  #logo img {
    width: 220px;
  }

  #logo {
    padding-left: 20px;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    transition: 0.5s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: auto;
    visibility: visible;
    overflow-y: auto;
    margin-top: 40px;
    background-color: #f0c997dc;
    border-radius: 10px;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    text-align: center;
  }

  #menu a:hover {
    background-color: #c686382c;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 30px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-top: 20px;
    color: #523e33;
    filter: drop-shadow(0px 0px 2px #3f2f26a1);
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  main {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
  }

  main .headline-txt {
    padding-left: 20px;
  }

  main .headline-txt h1 {
    font-size: 85px;
    line-height: 80px;
    margin-top: 60px;
  }

  main .headline-txt h3 {
    font-size: 24px;
    line-height: 30px;
    width: 405px;
    margin-bottom: 40px;
  }

  #btn-headline {
    font-size: 26px;
    color: #523e33;
    text-shadow: 0px 2px 1px rgba(160, 88, 0, 0.4);
    padding: 10px 20px;
    border: 2px solid #523e33;
    transition: 0.3s;
  }
  main .headline-txt .midias {
    margin-top: 100px;
    width: 100%;
    display: none;
    justify-content: center;
    gap: 25px;
    position: relative;
  }

  #headline-img {
    width: 80%;
    justify-self: center;
    grid-row: 0;
    margin-bottom: -10px;
  }

  #amoeba,
  #circles {
    display: none;
  }

  .midias-2 {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
    margin-bottom: 10px;
  }
}
